<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sandeep.android.mapdemo">

    <!--Permissions-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!--Application-->
    <application
        android:name="com.sandeep.android.mapdemo.MapDemoApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCkk09lU2dYdNpKXNW1BiOjkvqmhGCam5M" />

        <!--Activities-->
      <activity
            android:name=".core.navigation.RouteActivity"
            android:noHistory="true"
            android:theme="@style/AppTheme.Translucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".features.countries.ui.map.CountriesActivity"
            android:label="@string/title_activity_maps">
        </activity>

        <activity
            android:name=".features.countries.ui.detail.CountriesDetailActivity"
            android:label="@string/country_details_screen_title">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


    </application>

</manifest>

